{
  "env": {
    "test": { "presets": [["env", { "targets": { "node": "current" } }]] },
    "development": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
